@model BlockViewModel
@{
    ViewData["Title"] = "Block";
}

@await Html.PartialAsync("_SearchPartial")


<div class="row mt-2">
    <div class="col">
        <h1>Gravium Block @Model.Block.Height</h1>
        <small>block hash: @Model.Block.Hash</small>
    </div>
</div>

<div class="row mt-2">
    <div class="col">
        <div class="card">
            <div class="card-header">
                Date/Time
            </div>
            <div class="card-body">
                @Model.Block.Time
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">
                Difficulty
            </div>
            <div class="card-body">
                @Model.Block.Difficulty
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">
                Confirmations
            </div>
            <div class="card-body">
                @Model.Block.Confirmations
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">
                Size (bytes)
            </div>
            <div class="card-body">
                @Model.Block.Size
            </div>
        </div>
    </div>
</div>
