@model BlockViewModel
@{
    ViewData["Title"] = "Block";
}

@await Html.PartialAsync("_SearchPartial")


<div class="row mt-2">
    <div class="col">
        <h1>Gravium Block @Model.Block.Height</h1>
        <small>block hash: @Model.Block.Hash</small>
    </div>
</div>

<div class="row mt-2">
    <div class="col">
        <div class="card">
            <div class="card-header">
                Date/Time
            </div>
            <div class="card-body">
                @Model.Block.Time
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">
                Difficulty
            </div>
            <div class="card-body">
                @Model.Block.Difficulty
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">
                Confirmations
            </div>
            <div class="card-body">
                @Model.Block.Confirmations
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">
                Size (bytes)
            </div>
            <div class="card-body">
                @Model.Block.Size
            </div>
        </div>
    </div>
</div>

<div class="row mt-2">
    <div class="col">
        <h2>Transactions count: @Model.Block.TotalTransactions</h2>
    </div>
</div>

@foreach (var tx in Model.Block.Transactions)
{
    <div class="row mt-2">
        <div class="col-md-12">
            <h5>
                @Html.ActionLink(tx.TransactionId, "Index", "Transaction", new { id = tx.TransactionId })
            </h5>
        </div>
        <div class="col">
            <div class="card bg-light">
                <div class="card-body">
                    <div class="row">
                        <div class="col tx-input small">
                            <table class="table table-bordered bg-white">

                                @if (tx.TransactionType == BCExplorer.Network.Models.TransactionType.PoW_Reward_Coinbase)
                                {
                                    <tr>
                                        <td>Reward &amp; Fees</td>
                                        <td>@tx.TotalOut</td>
                                    </tr>
                                }
                                @if (tx.TransactionType == BCExplorer.Network.Models.TransactionType.Money)
                                {
                                    foreach (var txin in tx.TransactionsIn)
                                    {
                                        <tr>
                                            <td>
                                                @Html.ActionLink(txin.PrevVOutFetchedAddress, "Index", "Address", new { id = txin.PrevVOutFetchedAddress })
                                            </td>
                                            <td class="text-right">@txin.PrevVOutFetchedValue</td>
                                        </tr>
                                    }
                                }
                            </table>
                        </div>
                        <div class="col-md-1">
                            <i class="fa fa-arrow-right"></i>
                        </div>
                        <div class="col tx-output small">
                            <table class="table table-bordered bg-white">
                                @{
                                    decimal amountTotal = 0;
                                }
                                @foreach (var txout in tx.TransactionsOut)
                                {
                                    amountTotal += txout.Value;
                                    <tr>
                                        <td>
                                            @Html.ActionLink(txout.Address, "Index", "Address", new { id = txout.Address })
                                        </td>
                                        <td class="text-right">@txout.Value</td>
                                    </tr>
                                }
                                <tfoot>
                                    <tr>
                                        <td colspan="2" class="text-right">
                                            <strong>@amountTotal</strong>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}